#wpcontent {
	top: 0;
	padding: 20px!important;
	max-width: calc(100vw - 220px);
	min-height: 70vh;
	margin: 0 0 0 160px;
	background-color: #fff;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
	z-index: 0;
}
#wpbody-content {
	padding-bottom: 65px;
	float: left;
	width: 100%;
	overflow: visible!important;
}
input, input.code {
	font-size: 14px;
	padding: 3px 10px;
}
.wp-admin select {
	font-size: 12px;
}
.description {
	font-size: 0.9rem !important;
}
input[type=text], input[type=password], input[type=checkbox],
input[type=color], input[type=date], input[type=datetime],
input[type=datetime-local], input[type=email], input[type=month],
input[type=number], input[type=radio], input[type=tel], input[type=time],
input[type=url], input[type=week], input[type=search], select, textarea {
	border: solid 1px #ddd;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: none;
	color: #555;
	font-size: 14px;
	outline: 0;
	transition: .2s border-color ease-in-out;
}
.wp-core-ui .button {
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	padding: 2px 10px;
	text-decoration: none;
	border: none;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
	cursor: pointer;
	transition: transform .2s, box-shadow .2s, background .2s, background-color .2s;
}
.wp-core-ui .button-primary:focus, .wp-core-ui .button-primary:hover,
.wp-core-ui .button:focus, .wp-core-ui .button:hover {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	transform: translateY(-2px);
}
.nav-tab-wrapper .nav-tab {
	background: #00aeff !important;
	border: none !important;
	color: #fff !important;
}
.nav-tab-wrapper .nav-tab-active {
	background: #006799 !important;
}
.social-share-post {
	margin-bottom: 10px;
}
.social-share-post img{
	vertical-align: bottom;
    width: 30px;
}
.map-skin img{
	vertical-align: bottom;
    width: 200px;
}
.social-share-post input {
	vertical-align: text-top;
}
#menu-settings-column #side-sortables .inside .button-controls>a {
	text-align: center;
	width: 100%;
}
.wyzi-claim-form-field-content .wyzi-claim-form-input-field-container {
	margin-bottom: 10px;
}
.wyzi-claim-form-field-content .wyzi-claim-form-input-field-container label {
    display: inline-block;
    width: 150px;
}
.wyzi-claim-form-field-content .field-selectbox-options li.ng-scope.ui-sortable-handle>input:first-of-type {
	margin-left: 96px;
}